/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf/WGS-BACTERIAL NANOPORE CONFIG FILE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
    Author: Jimmy Lucas and Roger de Pedro Jové
    Description: Configuration for ONT Analysis
    Nextflow Version: >=25.10.0
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


/////////////////////////////////////////////////////////////////////////////////////////
// PARAMS DEFINE
/////////////////////////////////////////////////////////////////////////////////////////

params {
    input                   = "$projectDir/data/in/*"
    reference               = "$projectDir/data/reference_genome/*.{fna,fa,fasta}"
    outdir                  = "$projectDir/data/out"
    index_genome_personal   = "$projectDir/data/reference_genome/personal/index/index_personal_genome"
    genome_size_file        = "*.csv"
    genome_name_db          = "Acinetobacter_baumannii_clinical_1"
    circular                = true
    filterClustersScript    = "$projectDir/bin/assemble/trycycler/filter_clusters.sh"
    organism                = "default"
    short_inputs            = "$projectDir/data/in/short/*_{1,2}.fastq.gz"
    plasmid                 = false
    help                    = false

/////////////////////////////////////////////////////////////////////////////////////////
//DATA BASES
/////////////////////////////////////////////////////////////////////////////////////////

    //Bakta
    bakta_db_dir            = "$projectDir/bakta_db"
    
    // KRAKEN resources
    kraken_dir              = "$projectDir"
    kraken_db_dir           = "$projectDir/kraken_db"
    kraken_cpus             = 4
    kraken_mem              = '16 GB'
    kraken_confidence       = "0.1"
    kraken2_extra_args      = ''
    db_select               = 'db_16GB'
    db_bind                 = null
    db_url                  = null
    db_url_checksum         = null
    
    // default resources
    gatk_memory             = 10
    max_threads             = 16
    task_cpus               = 8

    // Containers
    trycyler.docker         = "staphb/trycycler:latest"
    gatk4.docker            = "broadinstitute/gatk:4.5.0.0"
    bakta.docker            = "jimmlucas/bakta:wgs_V.1.1"
    bakta_db.docker         = "jimmlucas/bakta_setdb:V1.0"
    snpeff.docker           = "jimmlucas/snpeff:wgs"
    agat.docker             = "jimmlucas/agat:v1.5.0"
    abricate.docker         = "jimmlucas/abricate_custom:V1.2.0"
    amrfinderplus.docker    = "staphb/ncbi-amrfinderplus:4.0.23-2025-07-16.1"
    pegaso_deeparg.docker   = "sebimer/pegase-deeparg:1.0.4"
    medaka.docker           = "staphb/medaka:2.1.0"
    long_read.docker        = "ghcr.io/jimmlucas/ont:long_reads"
    busco.docker            = "jimmlucas/busco:latest"
    prokka.docker           = "staphb/prokka:1.14.6"
    polypolish.docker       = "staphb/polypolish:0.6.0-bwa"
    short_wgs.docker        = "ghcr.io/jimmlucas/wgs:short_reads"
    mob_suit.docker         = "quay.io/biocontainers/mob_suite:3.1.9--pyhdfd78af_1"
    autocycler.docker       = "jimmlucas/autocycler:0.5.2-gnu"
    kraken.docker           = "flowcraft/kraken2:2.0.7-1"
    kraken2_new.docker      = "jimmlucas/kraken2_new:1.0"
}


/////////////////////////////////////////////////////////////////////////////////////////
// PROCESS GLOBAL DEFAULTS
/////////////////////////////////////////////////////////////////////////////////////////

process {
    stageInMode = 'symlink'

    withName: PREPARE_KRAKEN_DB {
        env {
            DB_SELECT = params.db_select ?: 'db_16GB'
            DB_DIR    = '/kraken2-db'
        }
    }
}


/////////////////////////////////////////////////////////////////////////////////////////
// PROFILES
/////////////////////////////////////////////////////////////////////////////////////////

def uid = System.getenv('UID') ?: '1000'
def gid = System.getenv('GID') ?: '1000'

profiles {

    ///////////////////////////////////////////////////////////////////////////
    // CONDA PROFILE
    ///////////////////////////////////////////////////////////////////////////

    conda {
        params.enable_conda  = true
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false

        process {

            // ONT / long reads
            withLabel: 'env_nanocomp env_nanoplot env_multiqc env_trimming_read env_polishing_round fly_long_reads' {
                conda = "$projectDir/envs/nanoporeWGS.yml"
            }

            // Short reads
            withLabel: 'env_quast env_multiqc_fastq env_fastqc env_trimming_short_read aligning_short_reads env_mlst seqtk_prune' {
                conda = "$projectDir/envs/short_reads_WGS.yml"
            }

            withLabel: 'env_busco' {
                conda = "$projectDir/envs/busco.yml"
            }

            withLabel: 'env_wrap dna_apler env_autocycler' {
                conda = "$projectDir/envs/autocycler_env.yml"
            }

            withLabel: 'kraken_db_setup' {
                conda = "$projectDir/envs/kraken2_new_env.yml"
            }

            withLabel: 'kraken_run' {
                conda = "$projectDir/envs/flowcraft_kraken2_base_env.yml"
            }

            withLabel: 'env_medaka' {
                conda = "$projectDir/envs/medaka_env.yml"
            }

            withLabel: 'bakta_annotations' {
                conda = "$projectDir/envs/bakta_env.yml"
            }

            withLabel: 'prokka_annotations' {
                conda = "$projectDir/envs/prokka_env.yml"
            }

            withLabel: 'agat_enhanced' {
                conda = "$projectDir/envs/agat_env.yml"
            }

            withLabel: 'abricate_tool' {
                conda = "$projectDir/envs/abricate_env.yml"
            }

            withLabel: 'amrfinder_plus' {
                conda = "$projectDir/envs/amrfinder_env.yml"
            }
        }
    }


    ///////////////////////////////////////////////////////////////////////////
    // DOCKER PROFILE
    ///////////////////////////////////////////////////////////////////////////

    docker {
        docker.enabled       = true
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        runOptions           = "--rm -u ${uid}:${gid}"
        autoMounts           = true
        autoRemove           = true

        process {
            maxForks         = 6
            containerOptions = '--cpus=24 --memory=120g'
            cpus             = 24
            memory           = '120 GB'

            withName: PREPARE_KRAKEN_DB {
                containerOptions = {
                    "--entrypoint '' -u \$(id -u):\$(id -g) " +
                    "-v ${params.kraken_db_dir}:/kraken2-db" +
                    (params.db_bind ? " -v ${params.db_bind}" : "")
                }
            }

            withName: KRAKEN_ONT {
                containerOptions = "--entrypoint '' -u \$(id -u):\$(id -g)"
            }
        }
    }


    ///////////////////////////////////////////////////////////////////////////
    // SINGULARITY PROFILE
    ///////////////////////////////////////////////////////////////////////////

    singularity {
        docker.enabled         = false
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.pullTimeout = '6h'
        
        process {
            maxForks = 6
            cpus     = 24
            memory   = '50 GB'

            withName: PREPARE_KRAKEN_DB {
                containerOptions = {
                    "--bind ${params.kraken_db_dir}:/kraken2-db" +
                    (params.db_bind ? " --bind ${params.db_bind}" : "")
                }
            }

            withName: KRAKEN_ONT {
                containerOptions = ''
                cpus             = params.kraken_cpus
                memory           = params.kraken_mem
            }
            
            withName: BAKTA_SET_DB {
                containerOptions = "--bind ${params.bakta_db_dir}:${params.bakta_db_dir}"
            }
            withName: BAKTA {
                containerOptions = "--bind ${params.bakta_db_dir}:${params.bakta_db_dir}"
            }
        }
    }
}


/////////////////////////////////////////////////////////////////////////////////////////
// REPORTS
/////////////////////////////////////////////////////////////////////////////////////////

report {
    enabled   = true
    file      = "${params.outdir}/report/DVT_report.html"
    overwrite = true
}
timeline {
    enabled   = true
    file      = "${params.outdir}/report/DVT_timeline.html"
    overwrite = true
}
trace {
    enabled   = true
    file      = "${params.outdir}/report/DVT_trace.txt"
    overwrite = true
}
dag {
    enabled   = true
    file      = "${params.outdir}/report/DVT_dag.svg"
    overwrite = true
}
