/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf/WGS-BACTERIAN NANOPORE CONFIG FILE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
    Author: Jimmy Lucas
    Description: Configuration for WGS Analysis Workflow
    Nextflow Version: >=23.04.4.5881
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


/////////////////////////////////////////////////////////////////////////////////////////
// PARAMS DEFINE
/////////////////////////////////////////////////////////////////////////////////////////

params {
    input                   = "$projectDir/data/in/*"
    reference               = "$projectDir/data/reference_genome/*.{fna,fa,fasta}"
    outdir                  = "$projectDir/data/out"
    index_genome_personal   = "$projectDir/data/reference_genome/personal/index/index_personal_genome"
    genome_size_file        = "*.csv"
    genome_name_db          = "Acinetobacter_baumannii_clinical_1"
    circular                = true
    filterClustersScript    = "$projectDir/bin/assemble/trycycler/filter_clusters.sh"
    organism                = "default"
    short_inputs            = "$projectDir/data/in/short/*_{1,2}.fastq.gz"

    //DATA BASES
    db_select               = 'db_16GB'              // 'db_full_60GB' | 'db_16GB' | '/ruta/a/tu/db'
    db_bind                 = null
    db_url                  = null
    db_url_checksum         = null
    
    // KRAKEN recursos
    kraken_dir              = "$projectDir"
    kraken_db_dir           = "$projectDir/kraken_db"
    kraken_cpus             = 4
    kraken_mem              = '16 GB'
    kraken_confidence       = "0.1"
    kraken2_extra_args      = ''

    // Max resource options, defaults only, expecting to be overwritten
    gatk_memory             = 10        // should be same as max_memory  
    max_threads             = 16
    task_cpus               = 8

/////////////////////////////////////////////////////////////////////////////////////////
// DOCKER CONTAINERS
/////////////////////////////////////////////////////////////////////////////////////////  

    trycyler.docker         = "staphb/trycycler:latest"
    gatk4.docker            = "broadinstitute/gatk:4.5.0.0"
    bakta.docker            = "jimmlucas/bakta:wgs"
    snpeff.docker           = "jimmlucas/snpeff:wgs"
    agat.docker             = "jimmlucas/agat:v1.5.0"
    abricate.docker         = "jimmlucas/abricate_custom:V1.0.1"
    amrfinderplus.docker    = "staphb/ncbi-amrfinderplus:latest"
    pegaso_deeparg.docker   = "sebimer/pegase-deeparg:1.0.4"
    medaka.docker           = "staphb/medaka:latest"
    long_read.docker        = "ghcr.io/jimmlucas/ont:long_reads"
    busco.docker            = "jimmlucas/busco:latest"
    prokka.docker           = "staphb/prokka:latest"
    polypolish.docker       = "staphb/polypolish:0.6.0-bwa"
    short_wgs.docker        = "ghcr.io/jimmlucas/wgs:short_reads"
    mob_suit.docker         = "kbessonov/mob_suite:3.0.3_lite"
    autocycler.docker       = "jimmlucas/autocycler:0.5.0"
    kraken.docker           = "flowcraft/kraken2:2.0.7-1"
    kraken2_new.docker      = "jimmlucas/kraken2_new:1.0"

}

/////////////////////////////////////////////////////////////////////////////////////////
// PROCESS DEFINITION (global defaults)
/////////////////////////////////////////////////////////////////////////////////////////

process {
    stageInMode = 'symlink'

    // Variables de entorno comunes para la preparación de la DB de Kraken
    withName: PREPARE_KRAKEN_DB {
        env {
            DB_SELECT = params.db_select ?: 'db_16GB'
            DB_DIR    = '/kraken2-db'
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
// PROFILES
/////////////////////////////////////////////////////////////////////////////////////////

// Define the ID and environment of the user
def uid = System.getenv('UID') ?: '1000'
def gid = System.getenv('GID') ?: '1000'

profiles {

    conda {
        params.enable_conda  = true
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false

        process {

            // ONT / long-reads (nanoporeWGS.yml)
            withLabel: 'env_nanocomp',
                      'env_nanoplot',
                      'env_multiqc',
                      'env_trimming_read',
                      'env_polishing_round',
                      'fly_long_reads' {
                conda = "$projectDir/envs/nanoporeWGS.yml"
            }

            // Short-reads / híbrido (short_reads_WGS.yml)
            withLabel: 'env_quast',
                      'env_multiqc_fastq',
                      'env_fastqc',
                      'env_trimming_short_read',
                      'aligning_short_reads',
                      'env_mlst',
                      'seqtk_prune' {
                conda = "$projectDir/envs/short_reads_WGS.yml"
            }

            // BUSCO
            withLabel: 'env_busco' {
                conda = "$projectDir/envs/busco.yml"
            }

            // Autocycler / dna_apler / wrap
            withLabel: 'env_wrap',
                      'dna_apler',
                      'env_autocycler' {
                conda = "$projectDir/envs/autocycler_env.yml"
            }

            // Kraken DB setup
            withLabel: 'kraken_db_setup' {
                conda = "$projectDir/envs/kraken2_new_env.yml"
            }

            // Kraken run
            withLabel: 'kraken_run' {
                conda = "$projectDir/envs/flowcraft_kraken2_base_env.yml"
            }

            // Medaka
            withLabel: 'env_medaka' {
                conda = "$projectDir/envs/medaka_env.yml"
            }

            //Bakta Annotations
            withLabel: 'bakta_annotations' {
                conda = "$projectDir/envs/bakta_env.yml"
            }

            //Prokka Annotations
            withLabel: 'prokka_annotations' {
                conda = "$projectDir/envs/prokka_env.yml"
            }

            //AGAT merge annotations
            withLabel: 'agat_enhanced' {
                conda = "$projectDir/envs/agat_env.yml"
            }

            //ABRICATE
            withLabel: 'abricate_tool' {
                conda = "$projectDir/envs/abricate_env.yml"
            }

            //RESFINDERplusdb
            withLabel: 'amrfinder_plus' {
                conda = "$projectDir/envs/amrfinder_env.yml"
            }
        }
    }


    docker {
        docker.enabled       = true
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        runOptions           = "--rm -u ${uid}:${gid}"
        autoMounts           = true
        autoRemove           = true

        process {
            maxForks         = 6
            containerOptions = '--cpus=24 --memory=120g'
            cpus             = 24
            memory           = '120 GB'

            // Ajustes específicos del proceso que prepara la DB de Kraken
            withName: PREPARE_KRAKEN_DB {
                containerOptions = {
                    "--entrypoint '' -u \$(id -u):\$(id -g) " +
                    "-v ${params.kraken_db_dir}:/kraken2-db" +
                    (params.db_bind ? " -v ${params.db_bind}" : "")
                }
            }

            // Ajustes específicos para la clasificación KRAKEN_ONT
            withName: KRAKEN_ONT {
                containerOptions = "--entrypoint '' -u \$(id -u):\$(id -g)"
            }
        }
    }

    singularity {
        docker.enabled         = false
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "--containall --cleanenv"
        singularity.pullTimeout = '4h'
        
        process {
            maxForks = 6
            cpus     = 24
            memory   = '50 GB'

            // PREPARE_KRAKEN_DB
            withName: PREPARE_KRAKEN_DB {
                containerOptions = {
                    "--bind ${params.kraken_db_dir}:/kraken2-db" +
                    (params.db_bind ? " --bind ${params.db_bind}" : "")
                }
            }

            // KRAKEN_ONT
            withName: KRAKEN_ONT {
                containerOptions = ''
                cpus             = params.kraken_cpus
                memory           = params.kraken_mem
            }
        }
    } 
}

/////////////////////////////////////////////////////////////////////////////////////////
// REPORTS
/////////////////////////////////////////////////////////////////////////////////////////

report {
    enabled   = true
    file      = "${params.outdir}/report/DVT_report.html"
    overwrite = true
}
timeline {
    enabled   = true
    file      = "${params.outdir}/report/DVT_timeline.html"
    overwrite = true
}
trace {
    enabled   = true
    file      = "${params.outdir}/report/DVT_trace.txt"
    overwrite = true
}
dag {
    enabled   = true
    file      = "${params.outdir}/report/DVT_dag.svg"
    overwrite = true
}