params {
    input                   = "$projectDir/data/in/*"
    outdir                  = "$projectDir/data/out"
    reference               = "$projectDir/data/reference_genome/*.{fna,fa,fasta}"
    genome_size_file        = "*.csv"
    circular                = true
    organism                = "default"
    short_inputs            = "$projectDir/data/in/short/*_{1,2}.fastq.gz"
    plasmid                 = false
    help                    = false
    target_coverage         = 100
    min_length              = 1000

    busco_lineage           = "bacteria_odb12.2"
    medaka_model            = "r1041_e82_400bps_hac_v6.0.0"

    bakta_db_dir            = "$projectDir/bakta_db"

    abricate_db             = null
    
    kraken_db_dir           = "$projectDir/kraken_db"
    kraken_deny_taxids      = "9443 9606 9605 9604 9598 9593 9601 9526 9483 314295 40674"
    kraken_confidence       = 0.1
    kraken_cpus             = 4
    kraken_mem              = '16 GB'
    kraken2_extra_args      = ''
    db_select               = 'db_16GB'
    db_bind                 = null
    db_url                  = null
    db_url_checksum         = null
    
    containers = [
        nanoplot    : "staphb/nanoplot:1.46.2",
        trimming    : "rogerdpj/ont-trimming:1.0",
        kraken      : "staphb/kraken2:2.17.1",
        seqtk       : "staphb/seqtk:1.5",
        assembly    : "rogerdpj/ont-assembly:1.0",
        medaka      : "rogerdpj/ont-medaka:1.0",
        qc          : "rogerdpj/ont-qc:1.0",
        post        : "rogerdpj/ont-post:1.0",
        amr         : "ncbi/amr:4.2.7-2026-05-15.1",
        abricate    : "staphb/abricate:1.4.0",
        bakta       : "rogerdpj/ont-bakta:1.0",
        bakta_db    : "jimmlucas/bakta_setdb:V1.0",
        kraken_db   : "jimmlucas/kraken2_new:1.0",
        polypolish  : "staphb/polypolish:0.6.0-bwa",
        autocycler  : "jimmlucas/autocycler:0.5.2-gnu"
    ]
}