
def uid = System.getenv('UID') ?: '1000'
def gid = System.getenv('GID') ?: '1000'

profiles {

    docker {

        docker {
            enabled     = true
            runOptions  = "--rm -u ${uid}:${gid}"
            autoMounts  = true
            autoRemove  = true
        }

        singularity.enabled  = false
        conda.enabled        = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false

        process {
            maxForks = 4
            cpus     = 6
            memory   = '120 GB'

            // Kraken DB bind
            withName: KRAKEN_ONT {
                containerOptions = "--entrypoint '' -u \$(id -u):\$(id -g) -v ${params.kraken_db_dir}:/kraken2-db"
                cpus   = params.kraken_cpus
                memory = params.kraken_mem
            }

            withName: PREPARE_KRAKEN_DB {
                containerOptions = {
                    "--entrypoint '' -u \$(id -u):\$(id -g) " +
                    "-v ${params.kraken_db_dir}:/kraken2-db"
                }
            }

            withName: BAKTA_SET_DB {
                containerOptions = "-v ${params.bakta_db_dir}:${params.bakta_db_dir}"
            }

            withName: BAKTA {
                containerOptions = "-v ${params.bakta_db_dir}:${params.bakta_db_dir}"
            }
        }
    }
}
