
profiles {

    singularity {

        singularity {
            enabled     = true
            autoMounts  = true
            pullTimeout = '6h'
            cacheDir    = "${System.getenv('NXF_SINGULARITY_CACHEDIR') ?: "${baseDir}/singularity_cache"}"
        }
        docker.enabled       = false
        conda.enabled        = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false

        process {
            maxForks = 5
            cpus     = 10
            memory   = '50 GB'

            containerOptions = "--bind /bin/ps:/bin/ps"

            withName: PREPARE_KRAKEN_DB {
                containerOptions = {
                    "--bind ${params.kraken_db_dir}:/kraken2-db" +
                    (params.db_bind ? " --bind ${params.db_bind}" : "")
                }
            }

            withName: KRAKEN_ONT {
                containerOptions = "--bind ${params.kraken_db_dir}:/kraken2-db --bind /bin/ps:/bin/ps"
                cpus             = params.kraken_cpus
                memory           = params.kraken_mem
            }

            withName: BAKTA {
                containerOptions = "--bind /bin:/bin --bind /usr:/usr --bind ${params.bakta_db_dir}:${params.bakta_db_dir}"
            }
        }
    }
}